<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sinatra Template</title>

  <meta name="description" content="Sinatra Template">
  <meta name="author" content="Kyle Bock">

  <%= stylesheet_tag 'application' %>
  <%= javascript_tag 'application' %>
</head>
<body>
  <%= yield %>
</body>
</html>
